/* Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
	--light-grey: #dce4e3;
  --text-color: #084236;

  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;

  color: var(--text-color);

}

.container {
  display: grid;
  grid-template-columns: 25rem 1fr;
  grid-template-areas: 
  'sidebar content';

  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;

  height: 2.4rem;
  width: 2.4rem;

  cursor: pointer;
}

/* Sidebar ======================== */
.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 1fr 6rem;
  grid-template-areas: 
  'main'
  'footer';

  background: var(--green);

  padding-top: 2.4rem;
  padding-right: 1.4rem;
  padding-left: 2.7rem;
  
}

.sidebar header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-right: 1.4rem;
  padding-bottom: 2.6rem;
}

.sidebar #search {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 22rem;
  height: 5rem;

  margin-left: -1.4rem;
  margin-bottom: 2rem;
  padding-left: 1.3rem;


  border-radius: 1.2rem;
  background-color: var(--light-green);


}

.sidebar img {
  padding-right: 1.3rem;
}

.sidebar #search-input {
  width: 15rem;

  border: none;
  background: none;


  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.2rem;
}

.sidebar .menu {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
}

.sidebar .menu a {
  display: flex;
  align-items: center;
  gap: 1.4rem;

  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.2rem;
  color: var(--text-color);
}

main {
  grid-area: main;
}

.sidebar footer.user {
  grid-area: footer;
  display: flex;
  align-items: center;

  width: 25rem;

  margin-left: -2.7rem;
  padding: 1.4rem .8rem;


  background: var(--light-green);
}

.sidebar .text {
  padding-left: .9rem;
  padding-right: 4.7rem;
}

.sidebar .text #user-name {
  font-size: 1.425rem;
  font-weight: 400;
  line-height: 2.2rem;

  margin-bottom: -.10rem;
}

.sidebar .text p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}

/* Close sidebar */
.container.toggle-sidebar {
  grid-template-columns: 7.8rem 1fr;
}

.container.toggle-sidebar #logo, .container.close-sidebar div.search  {
  display: none;
}

.container.toggle-sidebar #search-input {
  display: none;
}

/* Content ======================== */
.content {
  grid-area: content;
  background: var(--body-bg-color);

  padding: 1.8rem;
}

